.clearBoth {
	clear: both;
	}

	
/*misc*/
.back {
	float: left;
	}

.forward {
	float: right;
	}

.bold {
	font-weight: bold;
	}

.rowOdd {
	background-color: #E8E8E8;
	height: 1.5em;
	vertical-align: top;
	}

.rowEven {
	background-color: #F0F0F0;
	height: 1.5em;
	vertical-align: top;
	}

/*sideboxes*/

h2.centerBoxHeading{
	font-size: 1em;
	color: #666666;
}
h3.leftBoxHeading, h3.leftBoxHeading a{
	font-size: 1em;
	color: #666666;
	}

.leftBoxHeading, .centerBoxHeading {
	margin: 0.5em 0em;
	background-color: #e6e6e6;
	padding: 0.2em;
	}

.leftBoxContainer, .rightBoxContainer{
/*	border: 1px solid #ffffff;*/
/*	margin-top: 1.5em;*/
	text-align:left;
	}

.sideBoxContent {
/*	background-color: #ffffff;*/
/*	padding: 0.4em;*/
	font-size:1em;
	padding: 5px;
	}

h3.rightBoxHeading, h3.rightBoxHeading a {
	font-size: 1em;
	color: #666666;
	}

#bestsellers .wrapper {
	margin: 0em 0em 0em 1.5em;
	}

#bestsellers ol {
	padding: 0;
	margin-left: 1.1em;
	}

#bestsellers li {
	padding: 0;
	margin: 0.3em 0em 0.3em 0em;
	}

.centeredContent, TH, #cartEmptyText, #cartBoxGVButton, #navCatTabsWrapper, #navEZPageNextPrev, #bannerOne, #bannerTwo,  #bannerThree,  #bannerFour,  #bannerFive,  #bannerSix, #siteinfoLegal, #siteinfoCredits, #siteinfoStatus, #siteinfoIP, .center, .cartRemoveItemDisplay, .cartQuantityUpdate, .cartQuantity, .cartTotalsDisplay, #cartBoxGVBalance, .leftBoxHeading, .centerBoxHeading,.rightBoxHeading, .productListing-data, .accountQuantityDisplay, .ratingRow, LABEL#textAreaReviews, #productMainImage, #reviewsInfoDefaultProductImage, #productReviewsDefaultProductImage, #reviewWriteMainImage, .centerBoxContents, .specialsListBoxContents, .categoryListBoxContents, .additionalImages, .centerBoxContentsSpecials, .centerBoxContentsAlsoPurch, .centerBoxContentsFeatured, .centerBoxContentsNew, .gvBal, .attribImg {
	text-align: center;
	}
